-# Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy of
-# this software and associated documentation files (the "Software"), to deal in
-# the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
-# SOFTWARE.

- if FEED_ALL_ATOM
    %link{:href => "{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}", :type => "application/atom+xml", :rel => "alternate", :title => "{{ SITENAME }} Full Atom Feed"}

- if FEED_ALL_RSS
    %link{:href => "{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}", :type => "application/rss+xml", :rel => "alternate", :title => "{{ SITENAME }} Full RSS Feed"}

- if FEED_ATOM
    %link{:href => "{{ FEED_DOMAIN }}/{{ FEED_ATOM }}", :type => "application/atom+xml", :rel => "alternate", :title => "{{ SITENAME }} Atom Feed"}

- if FEED_RSS
    %link{:href => "{{ FEED_DOMAIN }}/{{ FEED_RSS }}", :type => "application/rss+xml", :rel => "alternate", :title => "{{ SITENAME }} RSS Feed"}

- if CATEGORY_FEED_ATOM and category
    %link{:href => "{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}", :type => "application/atom+xml", :rel => "alternate", :title => "{{ SITENAME }} Categories Atom Feed"}

- if CATEGORY_FEED_RSS and category
    %link{:href => "{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}", :type => "application/rss+xml", :rel => "alternate", :title => "{{ SITENAME }} Categories RSS Feed"}

- if TAG_FEED_ATOM and tag
    %link{:href => "{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}", :type => "application/atom+xml", :rel => "alternate", :title => "{{ SITENAME }} Tags Atom Feed"}

- if TAG_FEED_RSS and tag
    %link{:href => "{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}", :type => "application/rss+xml", :rel => "alternate", :title => "{{ SITENAME }} Tags RSS Feed"}
