-# Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy of
-# this software and associated documentation files (the "Software"), to deal in
-# the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
-# SOFTWARE.

#socialshare
    %a.social-round-s.social-facebook-sw{:href => "http://www.facebook.com/sharer.php?u=https://matrixhas.me/{{ article.url }}", :target => "_blank", :rel => "nofollow", :title => "Share with Facebook"}
    %a.social-round-s.social-twitter-sw{:href => "https://twitter.com/intent/tweet?url=https://matrixhas.me/{{ article.url }}&amp;text={{ '@matrixhas.me  - '|urlencode }}{{ article.title|truncate(80)|urlencode }} {{ article.hashtags|urlencode }}", :target => "_blank", :rel => "nofollow", :title => "Share with Twitter"}
    %a.social-round-s.social-googleplus-sw{:href => "https://plus.google.com/share?url=https://matrixhas.me/{{ article.url|urlencode }}", :target => "_blank", :rel => "nofollow", :title => "Share with Google+"}
    %a.social-round-s.social-qrcode-sw.qrcode{:data-url => "https://matrixhas.me/{{ article.url }}", :href => "#", :target => "_blank", :rel => "nofollow", :title => "QR Code"}
