// Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy of
// this software and associated documentation files (the "Software"), to deal in
// the Software without restriction, including without limitation the rights to
// use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
// of the Software, and to permit persons to whom the Software is furnished to do
// so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.


$headerbg: #4a86cf
$headerfg: white
$highlightbg: #ff3333
$mainbg: white
$footerbg: black
$footerfg: gray
$socialroundhover: $highlightbg

$left_offcanvas_offset: 270px

@import "compass-sass-base/bootstrap"
@import "compass-sass-base/base"
@import "compass-sass-base/social"
@import "compass-sass-base/animations"
@import "compass-sass-base/open_iconic_bootstrap"

// Sprites
@import "website/*.png"
@include all-website-sprites

body
    font-family: 'Source Sans Pro', sans-serif
    font-size: medium
    background-color: $footerbg

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
    margin: 20px 0

h1, .h1
    font-size: 2.4rem
    font-weight: 200

h2, .h2
    color: $headerbg
    font-weight: 400
    font-size: 1.5rem

h3, .h3
    font-weight: 300
    font-size: 1.3rem

h4, .h4
    color: #808080
    font-weight: 600
    font-size: 1rem


blockquote
    border-left: 3px $headerbg solid
    background-color: #f0f0f0
    font-style: italic
    padding: 20px 30px

table
    thead
        th
            text-align: center

    tr
        td, th
            padding: 5px 20px
            vertical-align: middle !important

    &.schedule
        td
            text-align: center

img
    max-width: 100%

    &.sponsorlogo
        width: 200px !important
        max-width: 200px !important

    &[align=right]
        margin-left: 10px

.btn-website
    background-color: $headerbg
    border-radius: 5px
    font-weight: bold
    color: $headerfg

    &:hover
        color: white

.socials
    a
        text-decoration: none
        margin: 0 5px

.post-info
    time
        display: inline-block
    address
        display: inline-block

.article-socialshare
    float: right

.thin-text
    font-weight: 200

#postlist
    article
        padding: 30px 0

#socialshare
    display: inline-block
    vertical-align: middle

.home
    #header
        padding: 70px 0

#header
    background: $headerbg url('../img/skyline.png') no-repeat bottom center
    color: $headerfg
    padding: 140px 0
    background-size: contain

    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
        color: $headerfg

    .head-title
        text-align: center
        padding: 20px 0 70px

    .hero-home
        text-align: center
        padding: 20px 0 50px

        .h1
            font-size: 1.5em
            font-weight: 200
            margin: 0px
            padding: 0

            &.guadec
                font-family: 'Cantarell', sans-serif
                font-size: 4.7em
                font-weight: 400
                text-transform: uppercase
                letter-spacing: -6px
                line-height: 1.1

        .logo
            display: flex
            align-items: center
            justify-content: center
            margin-left: 15px

        .h4
            font-size: 1.5rem
            margin: 5px 0
            font-weight: 400

        .h5
            font-size: 1.4rem
            font-weight: 300

        @media screen and (max-width: 768px)
            .h1
                font-size: 1.125em

                &.guadec
                    font-size: 3.5em


    #menubar
        background-color: $headerbg

        .navbar-toggler
            color: white !important
            //border: 1px white solid
            border: none

        ul
            li.nav-item
                font-size: large
                color: $headerfg
                margin: 0 5px
                font-weight: normal

        .dropdown-menu
            color: gray
            background-color: white

            .dropdown-item:hover
                background-color: #dddddd

            a
                color: gray

                &:hover
                    color: gray

        a
            color: $headerfg

            &:hover
                color: $headerhover

#content
    background-color: $mainbg
    padding-bottom: 20px

    #content-head
        padding: 15px 0

    .intro-home
        text-align: center
        padding: 10px 0

    .sponsors-home
        text-align: center
        padding: 10px 0

        a
            text-decoration: none

            img
                margin: 20px
                vertical-align: middle

    .subintro-home
        text-align: center
        padding: 10px 0

    .highlights-home
        padding: 40px 0
        background-color: #fafafa

        .highlight

            .icon
                text-align: center
                font-size: 48px
                padding: 30px
                margin: 20px
                color: white
                background-color: $headerbg
                border-radius: 50%

    .news-home
        padding-top: 30px
        padding-bottom: 10px

    .news-home-articles
        padding-bottom: 30px

        .news-article
            text-align: center

            .h5

                &:after
                    box-sizing: border-box
                    content: " "
                    display: block
                    margin: 20px auto 15px
                    width: 35px
                    border: 2px $headerbg solid

    .social-home
        padding: 30px

        .socials
            padding: 20px

#footer
    padding: 50px 0
    color: $footerfg
    background-color: $footerbg

    a
        color: $footerfg

        &:hover
            color: $footerhover

    .footlinks
        ul
            list-style: none
            margin: 0
            padding: 0

            li
                margin: 5px 0

#cookiesmessage
    position: fixed
    bottom: 10px
    z-index: 10000
    margin: 30px
    padding: 30px
    border-radius: 10px
    border: 2px $footerfg solid
    color: $footerfg
    background-color: $footerbg

    .buttons
        text-align: center
        margin-top: 20px

#goup
    padding: 15px 20px
    cursor: pointer
    position: fixed
    display: none
    bottom: 10px
    right: 10px
    z-index: 10
    @include animation-zoomin



// Schedule styling

.schedule
    font-family: 'Source Sans Pro', sans-serif
    border-collapse: collapse
    overflow: auto

    td
        border: none
        vertical-align: middle
        text-align: center


    th
        text-align:left
        padding: 1ex 2em 1ex 2em


    tr.rooms th:not(:first-child)
        text-align: center
        border: 1px solid #b6b6b6
        background-color: #EAECEE


    thead tr td
        width: 45%
        font-weight: bold

    tbody tr td
        width: 45%
        border: 2px solid #fff
        text-align: center
        padding: 1ex 2em 1ex 2em
        overflow: hidden

    tbody tr td span
        // 80px for header bar (linking), on the span inside
        // and 1ex for the padding of the cell
        padding-top: calc(80px + 1ex)
        margin-top: calc(-80px - 1ex)

    tr > td:first-child
        width: 10%
        border: none
        font-weight: bold

.abstract
    margin-top: calc(30px - 80px)
    padding-top: 80px
    border-bottom: 1px black solid
    margin-bottom: 20px

    h4
        font-size: 1.5em


    .details
        font-style: italic
        font-weight: bold
        color: gray


.talk
    background-color: #efefef

.break
    background-color: #dadada
