-# Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
-#
-# Permission is hereby granted, free of charge, to any person obtaining a copy of
-# this software and associated documentation files (the "Software"), to deal in
-# the Software without restriction, including without limitation the rights to
-# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
-# of the Software, and to permit persons to whom the Software is furnished to do
-# so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in all
-# copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
-# SOFTWARE.

- extends "base/base.html"

- block metadescription
    = article.description

- block metakeywords
    = article.keywords

- block header
    %h1.head-title<
        = article.title

- block contenthead

- block content
    .container
        %section#content.body
            %header

                .h2<
                    .article-socialshare<
                        - include "includes/socialshare.html"
                    = article.title

                - import 'translations.html' as translations with context
                = translations.translations_for(article)

            .post-info
                %h4
                    %time.published{:datetime => "{{ article.date.isoformat() }}"}<
                        = article.locale_date

                - if article.modified
                    %time.modified{:datetime => "{{ article.modified.isoformat() }}"}<
                        = article.locale_modified

                - if article.authors
                    %address.vcard.author<
                        by
                        - for author in article.authors
                            %a.url.fn{:href => "{{ SITEURL }}/{{ author.url }}"}<
                                = author

                - if article.tags
                    %p<
                        Tags:
                            - for tag in article.tags
                                %a{:href => "{{ SITEURL }}/{{ tag.url }}"}
                                    = tag.name
                                - if not loop.last
                                    ,

                - if article.license
                    %p<
                        Article license:
                            = article.license

            .entry-content<
                = article.content
