// Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy of
// this software and associated documentation files (the "Software"), to deal in
// the Software without restriction, including without limitation the rights to
// use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
// of the Software, and to permit persons to whom the Software is furnished to do
// so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

// Base animation settings
@mixin animation-base
    animation-duration: 0.3s
    -webkit-animation-duration: 0.3s
    animation-timing-function: ease-in-out
    -webkit-animation-timing-function: ease-in-out

// Infinite animation loop
@mixin animation-infinite-1s
    animation-duration: 1s
    -webkit-animation-duration: 1s
    animation-timing-function: linear
    -webkit-animation-timing-function: linear
    animation-iteration-count: infinite
    -webkit-animation-iteration-count: infinite

// Fade in animation
@mixin animation-fadein
    @include animation-base
    animation-name: fadein
    -webkit-animation-name: fadein

@keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1

@-webkit-keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1


// Fade out animation
@mixin animation-fadeout
    @include animation-base
    animation-name: fadeout
    -webkit-animation-name: fadeout

@keyframes fadeout
    0%
        opacity: 1
    100%
        opacity: 0

@-webkit-keyframes fadeout
    0%
        opacity: 1
    100%
        opacity: 0


// Zoom in animation
@mixin animation-zoomin
    @include animation-base
    animation-name: zoomin
    -webkit-animation-name: zoomin

@keyframes zoomin
    0%
        transform: scale(0)
        opacity: 0
    100%
        transform: scale(1.0)
        opacity: 1

@-webkit-keyframes zoomin
    0%
        transform: scale(0)
        opacity: 0.2
    100%
        transform: scale(1.0)
        opacity: 1


// Slide up animation
@mixin animation-slideup
    @include animation-base
    animation-name: slideup
    -webkit-animation-name: slideup

@keyframes slideup
    0%
        transform: translateY(0%)
    100%
        transform: translateY(-100%)

@-webkit-keyframes slideup
    0%
        transform: translateY(0%)
    100%
        transform: translateY(-100%)


// Slide down animation
@mixin animation-slidedown
    @include animation-base
    animation-name: slidedown
    -webkit-animation-name: slidedown

@keyframes slidedown
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0%)

@-webkit-keyframes slidedown
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0%)


// Slide right animation
@mixin animation-slideright
    @include animation-base
    animation-name: slideright
    -webkit-animation-name: slideright

@keyframes slideright
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0%)

@-webkit-keyframes slideright
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0%)


// Slide right animation
@mixin animation-slideleft
    @include animation-base
    animation-name: slideleft
    -webkit-animation-name: slideleft

@keyframes slideleft
    0%
        transform: translateX(0%)
    100%
        transform: translateX(-100%)

@-webkit-keyframes slideleft
    0%
        transform: translateX(0%)
    100%
        transform: translateX(-100%)


// Slide right animation
@mixin animation-background_sweep
    @include animation-infinite-1s
    animation-name: background_sweep
    -webkit-animation-name: background_sweep

@keyframes background_sweep
    0%
        background-position: 100% 0
    100%
        background-position: 0 0

@-webkit-keyframes background_sweep
    0%
        background-position: 100% 0
    100%
        background-position: 0 0

.animation_loader
    background: #dde3e8
    background: linear-gradient(90deg, #f0f4f7 35%, #dde3e8 50%, #f0f4f7 65%)
    background-size: 300% 100%
    @include animation-background_sweep
