// Copyright 2015 Oliver Gutierrez <ogutsua@gmail.com>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy of
// this software and associated documentation files (the "Software"), to deal in
// the Software without restriction, including without limitation the rights to
// use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
// of the Software, and to permit persons to whom the Software is furnished to do
// so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.


// Compass imports
@import "compass/utilities/sprites"

// Fonts
@font-face
	font-family: "Cantarell"
	src: url("../fonts/cantarell-bold.woff2") format("woff2"), url("../fonts/cantarell-bold.woff") format("woff")

// Base colors
$headerbg: #fff !default
$highlightbg: #9cd !default
$mainbg: #357 !default
$footerbg: #034 !default

// Color calculation parameters
$min_lightness: 60 !default
$lighten_percent: 30% !default

// Initial precalculated values
$footerfg: #ccc !default
$footerhover: white !default

$headerfg: #ccc !default
$headerhover: white !default

$mainfg: #ccc !default
$mainhover: white !default

$highlightselectedbg: lighten($highlightbg, $lighten_percent) !default
$highlightselectedfg: #ccc !default
$highlightfg: #ccc !default
$highlighthover: white !default

$headerselectedbg: lighten($headerbg, $lighten_percent) !default
$headerselectedfg: #ccc !default
$headerselectedhover: white !default

$mainselectedbg: lighten($mainbg, $lighten_percent) !default
$mainselectedfg: #ccc !default
$mainselectedhover: white !default

$footerselectedbg: lighten($footerbg, $lighten_percent) !default
$footerselectedfg: #ccc !default
$footerselectedhover: white !default

// Calculate header colors
@if lightness($headerbg) < $min_lightness
	$headerfg: #ccc !default
	$headerhover: white !default
@else
	$headerfg: black !default
	$headerhover: #333 !default

// Calculate main colors
@if lightness($mainbg) < $min_lightness
	$mainfg: #ccc !default
	$mainhover: white !default
@else
	$mainfg: black !default
	$mainhover: #333 !default

// Calculate highlight colors
@if lightness($highlightbg) < $min_lightness
	$highlightfg: #ccc !default
	$highlighthover: white !default
@else
	$highlightfg: black !default
	$highlighthover: #333 !default

// Calculate selected colors
@if lightness($headerselectedbg) < $min_lightness
	$headerselectedfg: #ccc !default
	$headerselectedhover: white !default
@else
	$headerselectedfg: black !default
	$headerselectedhover: #333 !default

// Calculate footer colors
@if lightness($footerbg) < $min_lightness
	$footerfg: #ccc !default
	$footerhover: white !default
@else
	$footerfg: black !default
	$footerhover: #333 !default

// Calculate selected colors
@if lightness($footerselectedbg) < $min_lightness
	$footerselectedfg: #ccc !default
	$footerselectedhover: white !default
@else
	$footerselectedfg: black !default
	$footerselectedhover: #333 !default

// Color classes for foreground
.header-color
	color: $headerbg

.highlight-color
	color: $highlightbg

.main-color
	color: $mainbg

.footer-color
	color: $footerbg

// Background color classes
.headerbg-color
	background-color: $headerbg

.highlightbg-color
	background-color: $highlightbg

.mainbg-color
	background-color: $mainbg

.footerbg-color
	background-color: $footerbg
